// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 672px){
    :root {
        font-size: 190%;
    }
}


  $family-sans-serif: "Nunito", sans-serif;

  .back {
  
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }

    .nav-right {overflow-y:visible}

.navbar-item, .nav-right{overflow-x:visible}